<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form class="" action="index.html" method="post">
      <input type="text" name="latin">Enter your phrase here:</input>
      <input type="submit" name="" value="">
    </form>
  </body>
</html>
