<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <form class="" action="/piglatinize" method="post">
      Enter your phrase here:<input type="text" name="user_phrase"></input></br>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
